/bin
/obj
obj/DemoAPI.csproj.nuget.dgspec.json
obj/DemoAPI.csproj.nuget.g.props
obj/DemoAPI.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/ApiEndpoints.json
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/DemoAPI.AssemblyInfo.cs
obj/Debug/net8.0/DemoAPI.AssemblyInfoInputs.cache
obj/Debug/net8.0/DemoAPI.assets.cache
obj/Debug/net8.0/DemoAPI.csproj.AssemblyReference.cache
obj/Debug/net8.0/DemoAPI.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/DemoAPI.csproj.FileListAbsolute.txt
obj/Debug/net8.0/DemoAPI.dll
obj/Debug/net8.0/DemoAPI.pdb
obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
obj/Debug/net8.0/rjsmrazor.dswa.cache.json
obj/Debug/net8.0/EndpointInfo/DemoAPI.json
obj/Debug/net8.0/ref/DemoAPI.dll
obj/Debug/net8.0/refint/DemoAPI.dll
obj/Debug/net8.0/DemoAPI.AssemblyInfo.cs
obj/Debug/net8.0/DemoAPI.AssemblyInfoInputs.cache
obj/Debug/net8.0/DemoAPI.assets.cache
